$start-bg-anim-duration: 2s;
$start-bg-anim-delay: 3s;

$start-content-anim-delay: $start-bg-anim-delay + 1s;
$start-content-anim-duration: $start-bg-anim-duration;

$start-title-anim-duration: 5s;
$start-title-anim-delay: 4s;

$arrow-down-duration: 3s;
$arrow-down-delay: $start-content-anim-delay + $start-content-anim-duration + 1s;

.background{
  animation: fadeToBlack $start-bg-anim-duration forwards;
  animation-delay: $start-bg-anim-delay;
  filter: none;
}
@keyframes fadeToBlack {
  from{
    filter:none;
  }
  to{
    filter: brightness(20%);
  }
}

body{
  animation: hideScroll 10ms forwards;
  animation-delay: $start-content-anim-delay + $start-content-anim-duration + 1s;
  overflow-y: hidden;
}

@keyframes hideScroll {
  from{
    overflow-y: hidden;
  }
  to{
    overflow-y: auto;
  }
}

.content{
  animation: fadeFromInvisible $start-content-anim-duration forwards;
  animation-delay: $start-content-anim-delay;
  opacity: 0;
}

@keyframes fadeFromInvisible {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.head{
  opacity: 0;
  animation: titleAnim $start-title-anim-duration forwards;
  animation-delay: $start-title-anim-delay;

  .arrow-down{
    animation: down-arrow $arrow-down-duration forwards linear;
    animation-delay: $arrow-down-delay;
    background-position-y: 110%;
  }

  @keyframes down-arrow {
    from{
      background-position-y: 110%;
    }
    to{
      background-position-y: 100%;
    }
  }
}

@keyframes titleAnim {
  0%{
    opacity: 0;
    /*transform: scale(2.5) translateY(100%);*/
  }
  30%, 60%{
    opacity: 1;
    /*transform: scale(2.5) translateY(100%);*/
  }
  100%{
    opacity: 1;
    /*transform: scale(1) translateY(0);*/
  }
}
