@import "utils";

.page-tutorial{
  @include flex(center, center);
  gap: 5%;
}

.page-tutorial .page-tutorial-arrow-wrapper{
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10%;
  flex-direction: column;
}